* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: color(primary);
  position: relative;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

pre {
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

#app {
  overflow-x: hidden;
}

#viewport {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
}

.v-container {
  max-width: 1356px;
  padding: 0 16px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

::placeholder {
  color: #9f9e9e;
}
