* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: color(primary);
  position: relative;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

pre {
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

#app {
  overflow-x: hidden;
}

#viewport {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

.v-container {
  max-width: 1356px;
  padding: 0 16px;
  height: 100%;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

.profile-data-item {
  display: flex;
  padding: 16px;
}

.profile-item-name {
  display: block;
  width: 100%;
  max-width: 235px;
  margin-right: 12px;
  font-family: DIN Pro;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #5F5E5E;
}

.profile-item {
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  margin-bottom: 21px;
}

.profile-item-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: DIN Pro;
  font-size: 15px;
  line-height: 16px;
  color: #1A1919;
}

.profile-data-actions {
  padding: 16px;
  display: flex;
  align-items: center;

  .button-full {
    max-width: 131px;
    margin-right: 32px;
  }
  
  .button-text {
    font-weight: 600;
  }
}

.account-page-title {
  margin: 0 0 22px 0;
  font-family: DIN Pro;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #1A1919;
}

::placeholder {
  color: #9f9e9e;
}

.price-discount {
  padding: 0 8px;
  text-align: center;
  background: #EE2C39;
  border-radius: 30px;
  font-family: DIN Pro;
  font-weight: 0;
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.product-status {
  &.InStock {
    color: #23BE20;
  }
  
  &.NotAvailable {
    color: #1A1919;
  }
  
  &.PendingDelivery {
    color: #F2994A;
  }
  
  &.ComingSoon {
    color: #BE207A;
  }
}
