.checkout-subtitle  {
  margin-bottom: 24px;
  display: flex;
  align-items: center;

  &.disabled {
    opacity: .5;
    .number-block {
      background-color: #ffffff;
    }
  }
}

.checkout-subtitle-text {
  font-family: 'DIN Pro';
  font-size: 14px;
  line-height: 16px;
  color: #1A1919;
  font-weight: 700;
}

.checkout-number-block {
  display: flex;
  box-sizing: border-box;
  padding: 2px;
  align-items: center;
  justify-content: center;
  font-family: "DIN Pro";
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin-right: 15px;
  background: #ffffff;
  border-radius: 100%;
  border: 1px solid #23be20;
  color: #1a1919;
  font-weight: 600;
  box-sizing: border-box;
  min-width: 24px;
	min-height: 24px;
}

.radioStyled {
  display: flex!important;
  width: 100%;
  flex-direction: column-reverse;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: 13px;
  line-height: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #FFFFFF;
  border: 1px solid #23BE20;
  box-sizing: border-box;
  margin-bottom: 0;
  border-radius: 4px;
  text-align: center;
  padding: 13px 0;
  font-family: 'DIN Pro';
  color: #1A1919;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: relative;
    margin-bottom: 18px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #23be20;
    padding: 3px;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #23be20;
    }
  }

  input:checked ~ .checkmark:after {
    display: block;
  }
}

.ellipsis {
  margin-right: 8px;
  min-width: 5px;
  min-height: 5px;
  background-color: #000;
  border-radius: 50%;
}

.product-image {
  img {
    height: 100%!important;
    width: auto!important;
  }
}
